table {
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}
.first-cell {
    background-color: lightgreen;
}
.second-cell {
    background-color: lightcoral;
}